# Use this notebook for your 3 choices of APIs

## Finance
## Bank Data API
### Get banks SWIFT and IBAN codes (500) of Germany


https://apilayer.com/marketplace/bank_data-api?txn=free&live_demo=show

In [1]:
import pandas as pd
import requests

In [59]:
url = "https://api.apilayer.com/bank_data/all?per_page=500&country=DE"

payload = {}
headers= {
  "apikey": "wfZ6uSCEtk5XXSmQEa4vnHUeYy5AYMRN"
}

response = requests.request("GET", url, headers=headers, data = payload)

status_code = response.status_code
result = response.json()
# result

In [60]:
flattened_data = pd.json_normalize(result['data'])
flattened_data = flattened_data.drop(['iban_data.ISO_country_code','swift_data.address'] ,axis = 1)
flattened_data

,iban_data.iban,iban_data.checksum,iban_data.bank_code,iban_data.account_number,swift_data.swift,swift_data.name,swift_data.zip,swift_data.city,swift_data.branch,swift_data.country,swift_data.country_code
0,DE89370400440532013000,89,37040044,0532013000,TRSYDEFF,360 TREASURY SYSTEMS AG,,FRANKFURT AM MAIN,"360 TREASURY SYSTEMS AG, FRANKFURT AM MAIN",Germany,DE
1,DE89370400440532013000,89,37040044,0532013000,AGGBDE51,886 AG,,BAD VILBEL,"886 AG, BAD VILBEL",Germany,DE
2,DE89370400440532013000,89,37040044,0532013000,GENODED1AAC,AACHENER BANK EG,52001,AACHEN,"AACHENER BANK EG, AACHEN",Germany,DE
3,DE89370400440532013000,89,37040044,0532013000,GENODED1AAY,AACHENER BANK EG,,ALSDORF,"AACHENER BANK EG, ALSDORF",Germany,DE
4,DE89370400440532013000,89,37040044,0532013000,AABSDE31,AACHENER BAUSPARKASSE AKTIENGESELLSCHAFT,,AACHEN,"AACHENER BAUSPARKASSE AKTIENGESELLSCHAFT, AACHEN",Germany,DE
...,...,...,...,...,...,...,...,...,...,...,...
495,DE89370400440532013000,89,37040044,0532013000,CITIDEF1020,CITIGROUP GLOBAL MARKETS DEUTSCHLAND AG,,FRANKFURT AM MAIN,(T2S 020),Germany,DE
496,DE89370400440532013000,89,37040044,0532013000,CITIDEF1021,CITIGROUP GLOBAL MARKETS DEUTSCHLAND AG,,FRANKFURT AM MAIN,(T2S 021),Germany,DE
497,DE89370400440532013000,89,37040044,0532013000,CITIDEF1022,CITIGROUP GLOBAL MARKETS DEUTSCHLAND AG,,FRANKFURT AM MAIN,(T2S 022),Germany,DE
498,DE89370400440532013000,89,37040044,0532013000,CITIDEF1023,CITIGROUP GLOBAL MARKETS DEUTSCHLAND AG,,FRANKFURT AM MAIN,(T2S 023),Germany,DE
499,DE89370400440532013000,89,37040044,0532013000,CITIDEF1024,CITIGROUP GLOBAL MARKETS DEUTSCHLAND AG,,FRANKFURT AM MAIN,(T2S 024),Germany,DE

## Cryptocurrency
## CoinCap
https://docs.coincap.io/

In [61]:
url = 'https://api.coincap.io/v2/assets'        
response = requests.get(url)
status_code = response.status_code
result = response.json()
# result 
flattened_data = pd.json_normalize(result['data'])
flattened_data

,id,rank,symbol,name,supply,maxSupply,marketCapUsd,volumeUsd24Hr,priceUsd,changePercent24Hr,vwap24Hr,explorer
0,bitcoin,1,BTC,Bitcoin,19547062.0000000000000000,21000000.0000000000000000,725902443193.5039125241526058,9094274499.9637311999288243,37136.1406227444263759,-0.6810286649112498,37023.4100596253126431,https://blockchain.info/
1,ethereum,2,ETH,Ethereum,120252683.5477615300000000,None,239148698568.0718580111879495,5323142342.9979103810115888,1988.7181850132070837,-2.3606177860217916,2016.5803190624800359,https://etherscan.io/
2,tether,3,USDT,Tether,87693583982.6464100000000000,None,87744311404.6819183884933712,15263310414.8807507012107666,1.0005784621831119,-0.0871573663646088,1.0008330715544819,https://www.omniexplorer.info/asset/31
3,binance-coin,4,BNB,BNB,166801148.0000000000000000,166801148.0000000000000000,41856799951.0048015937120912,1106535370.4267798046844188,250.9383205864074844,-2.5052416893035836,258.1633680116406358,https://etherscan.io/token/0xB8c77482e45F1F44d...
4,xrp,5,XRP,XRP,45404028640.0000000000000000,100000000000.0000000000000000,27164939665.1122898821272640,537939989.7596159682006244,0.5982935981407726,-3.3966243670262760,0.6119790828407818,https://xrpcharts.ripple.com/#/graph/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,aelf,96,ELF,aelf,692072885.4091900000000000,1000000000.0000000000000000,330885074.6265278875740738,12645064.0102545498500754,0.4781072652931507,-16.3701753705672446,0.5348729943044345,https://etherscan.io/token/0xbf2179859fc6D5BEE...
96,qtum,97,QTUM,Qtum,104755842.0000000000000000,107822406.0000000000000000,322227949.6029389545133010,13956021.7903574291665357,3.0759902593588905,-4.7256018397847251,3.1741895897485814,https://qtum.info/
97,nem,98,XEM,NEM,8999999999.0000000000000000,8999999999.0000000000000000,320727745.9428605837801670,2178034.5583817934585471,0.0356364162198330,-7.2941782796737049,0.0373405341878735,http://nembex.nem.ninja/
98,basic-attention-token,99,BAT,Basic Attention Token,1490322700.9526057000000000,1500000000.0000000000000000,312867138.5868814504162928,9174767.6960864408491892,0.2099324786416382,-6.5444658322977878,0.2147688864398726,https://etherscan.io/token/Bat
99,helium,100,HNT,Helium,143934820.8303076600000000,223000000.0000000000000000,308387354.6054004169499732,493913.5759343225410257,2.1425486399081603,4.8340684321939154,2.1148712448157973,https://explorer.helium.com/

## Health
## openFDA

https://open.fda.gov/apis/drug/event/how-to-use-the-endpoint/

In [62]:
url = 'https://api.fda.gov/drug/event.json?api_key=5nRzREopkz50ZHSNInpJLfdL72gyzWb3qmdRUGFQ&search=receivedate:[20040101+TO+20081231]&limit=300'        
response = requests.get(url)
status_code = response.status_code
result = response.json()
# result
flattened_data = pd.json_normalize(result['results'])
flattened_data = flattened_data.drop(['receiver','patient.patientdeath.patientdeathdateformat','patient.patientdeath.patientdeathdate','primarysource','patient.reaction','patient.drug'] ,axis = 1)
flattened_data

,safetyreportid,transmissiondateformat,transmissiondate,serious,seriousnessdeath,receivedateformat,receivedate,receiptdateformat,receiptdate,fulfillexpeditecriteria,...,sender.senderorganization,patient.patientonsetage,patient.patientonsetageunit,patient.patientsex,seriousnesslifethreatening,seriousnesshospitalization,seriousnessother,patient.patientweight,seriousnessdisabling,seriousnesscongenitalanomali
0,5801206-7,102,20090109,1,1,102,20080707,102,20080625,1,...,FDA-Public Use,26,801,1,NaN,NaN,NaN,NaN,NaN,NaN
1,4318221-5,102,20041129,1,1,102,20040315,102,20040228,1,...,FDA-Public Use,8,804,2,1,1,NaN,NaN,NaN,NaN
2,5015436-8,102,20061013,1,NaN,102,20060601,102,19970918,1,...,FDA-Public Use,22,801,1,1,1,NaN,NaN,NaN,NaN
3,4412763-X,102,20050211,1,NaN,102,20040802,102,19970904,1,...,FDA-Public Use,78,801,1,NaN,1,1,NaN,NaN,NaN
4,4338356-0,102,20050107,1,NaN,102,20040407,102,20040323,1,...,FDA-Public Use,30,801,1,NaN,1,NaN,54.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,4809372-7,102,20060501,2,NaN,102,20051021,102,20010718,1,...,FDA-Public Use,20,801,1,NaN,NaN,NaN,77,NaN,NaN
296,4638049-6,102,20051028,1,NaN,102,20050415,102,20050401,1,...,FDA-Public Use,65,801,NaN,1,1,NaN,NaN,NaN,NaN
297,4378197-1,102,20050107,1,NaN,102,20040609,102,20040525,1,...,FDA-Public Use,75,801,1,NaN,1,NaN,NaN,NaN,NaN
298,4556603-7,102,20050727,1,NaN,102,20050118,102,20050107,1,...,FDA-Public Use,69,801,2,NaN,1,NaN,55.2,NaN,NaN
299,5099201-1,102,20061208,1,NaN,102,20060731,102,20050824,2,...,FDA-Public Use,52,801,2,NaN,1,NaN,NaN,NaN,NaN